# macOS only. Works around a Playwright/Firefox headless launch bug
# ("Could not find profile folder") seen on some macOS versions when
# running: TEST_RUNTIME_BROWSER=firefox npm run test:browser
#
# If you hit that error, run:
#   mkdir -p "$HOME/.cache/prettier-plugin-solidity-cf-home"
#   echo "CFFIXED_USER_HOME=$HOME/.cache/prettier-plugin-solidity-cf-home" > .env
CFFIXED_USER_HOME=
