{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "globals": {
    "run_spec": false
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off"
  }
}
