coverage/**/*.js
dist/**/*.cjs
tests/**/*.snap
tests/format/**/*.sol
tests/format/Markdown/Markdown.md
tests/format/RespectDefaultOptions/respect-default-options.js
tests/config/**/*.*js
src/prettier-comments/**/*.ts
