{
  "env": {
    "jest": true
  },
  "extends": "airbnb",
  "globals": {
    "run_spec": false
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off"
  }
}
