name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: lint
        run: npm run lint

  test_bundle:
    name: Test production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Run tests
        run: npm run test:standalone

  test_prettier_v2:
    name: Prettier V2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: Build with Prettier V3
        run: npm run build
      - name: Downgrade Prettier to V2
        run: npm install prettier@2.8.8
      - name: Run standalone tests
        run: npm run test:standalone tests/format tests/unit/prettier-version

  test_linux:
    name: Test on Linux with Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18, 20]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: Run tests
        run: npm run test:all

  test_macos:
    name: Test on MacOS with Node 16
    runs-on: macos-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: Run tests
        run: npm run test:all

  test_windows:
    name: Test on Windows with Node 16
    runs-on: windows-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - name: Install
        run: npm install
      - name: Run tests
        run: npm run test:all
